<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.basic.javaframe.dao.MsUserDao">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.basic.javaframe.entity.MsUser" id="msUserMap">
        <result property="rowId" column="row_id"/>
        <result property="rowGuid" column="row_guid"/>
        <result property="createTime" column="create_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="sortSq" column="sort_sq"/>
        <result property="openId" column="openId"/>
        <result property="name" column="name"/>
        <result property="mobile" column="mobile"/>
		<result property="updateTime" column="update_time"/>
    </resultMap>

	<select id="getList" resultType="com.basic.javaframe.entity.MsUser">
		select * from ms_user t <include refid="where_clause" />
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
			<otherwise>
                order by row_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="getCount" resultType="int">
		select count(*) from ms_user t  <include refid="where_clause" />
	</select>

    <!-- 搜索数据区域 -->
    <sql id="where_clause">
        <where>
            1=1
            <if test="rowId != null and rowId != ''"> and t.row_id = #{rowId} </if>
    		<if test="rowIdVague != null and rowIdVague != ''"> and t.row_id like concat('%',#{rowIdVague},'%') </if>
            <if test="rowGuid != null and rowGuid != ''"> and t.row_guid = #{rowGuid} </if>
    		<if test="rowGuidVague != null and rowGuidVague != ''"> and t.row_guid like concat('%',#{rowGuidVague},'%') </if>
            <if test="createTime != null and createTime != ''"> and t.create_time = #{createTime} </if>
    		<if test="createTimeVague != null and createTimeVague != ''"> and t.create_time like concat('%',#{createTimeVague},'%') </if>
            <if test="delFlag != null and delFlag != ''"> and t.del_flag = #{delFlag} </if>
    		<if test="delFlagVague != null and delFlagVague != ''"> and t.del_flag like concat('%',#{delFlagVague},'%') </if>
            <if test="sortSq != null and sortSq != ''"> and t.sort_sq = #{sortSq} </if>
    		<if test="sortSqVague != null and sortSqVague != ''"> and t.sort_sq like concat('%',#{sortSqVague},'%') </if>
            <if test="openId != null and openId != ''"> and t.openId = #{openId} </if>
    		<if test="openIdVague != null and openIdVague != ''"> and t.openId like concat('%',#{openIdVague},'%') </if>
            <if test="name != null and name != ''"> and t.name = #{name} </if>
    		<if test="nameVague != null and nameVague != ''"> and t.name like concat('%',#{nameVague},'%') </if>
            <if test="mobile != null and mobile != ''"> and t.mobile = #{mobile} </if>
    		<if test="mobileVague != null and mobileVague != ''"> and t.mobile like concat('%',#{mobileVague},'%') </if>
			<if test="updateTime != null and update_time!=''">`update_time` = #{updateTime}</if>
        	and t.del_flag = 0
        </where>
    </sql>
	 
	<insert id="save" parameterType="com.basic.javaframe.entity.MsUser" useGeneratedKeys="true" keyProperty="rowId">
		insert into ms_user
		(
			`row_guid`, 
			`create_time`, 
			`del_flag`, 
			`sort_sq`, 
			`openId`, 
			`name`, 
			`mobile`,
			`update_time`
		)
		values
		(
			#{rowGuid}, 
			#{createTime}, 
			#{delFlag}, 
			#{sortSq}, 
			#{openId}, 
			#{name}, 
			#{mobile},
			#{updateTime}
		)
	</insert>
	 
	<update id="update" parameterType="com.basic.javaframe.entity.MsUser">
		update ms_user 
		<set>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="delFlag != null">`del_flag` = #{delFlag}, </if>
			<if test="sortSq != null">`sort_sq` = #{sortSq}, </if>
			<if test="openId != null">`openId` = #{openId}, </if>
			<if test="name != null">`name` = #{name}, </if>
			<if test="mobile != null">`mobile` = #{mobile},</if>
			<if test="updateTime != null">`update_time` = #{updateTime}</if>
		</set>
		where row_guid = #{rowGuid}
	</update>
	
	<delete id="deleteBatch">
		update ms_user set `del_flag` = 1 where row_guid in 
		<foreach item="rowGuid" collection="array" open="(" separator="," close=")">
			#{rowGuid}
		</foreach>
	</delete>

</mapper>